{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link href="{% static 'main/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <!--<script src="{% static 'main/jquery.min.js' %}"></script>-->
    <script src="{% static 'main/vue.js' %}"></script>
    <script src="{% static 'main/axios.min.js' %}"></script>
    <script src="{% static 'main/qs.min.js' %}"></script>
    <!--<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>-->
</head>


<body>
<div class="container">
    <div name = "header" class="row" style="margin-top:100px">
        <div class="col-md-3"></div>
        <div class="col-md-6"><img src="{%static 'main/searchImg.png'%}"></div>
        <div class="col-md-3"></div>
    </div>>
    <div id="search-and-task">
        <div name = "searchArea"class="row" style="margin-top:30px">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div>
                    <label for="searchKey">KeyWords</label>
                    <input v-model="searchKey" placeholder="Input Search Key" type="string" class="form-control" id="searchKey" name="searchKey">
                    
                    <label for="category">Commodity Category</label>
                    <select v-model="selected" id="category" name="category">
                        <option v-for="option in options" v-bind:value="option.value">
                            ${option.text}
                        </option>
                    </select>
                    <br>
                    <label for="num">Amount</label>
                    <input v-model="num" placeholder="Input amount needed" type="string" class="form-control" id="num" name="num" >
                    <button v-on:click="startSpider"  class="btn btn-default" type='button'>Submit</button>
                    <p>KeyWords : ${ searchKey }</p>
                    <p>Category : ${ selected }</p>
                    <p>Amount: ${ num }</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div name = "taskArea" class="row" style="margin-top:50px">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <button v-on:click="getTaskStatus" class="btn btn-default">Refresh</button>
                <table class="table table-hover">
                    <th>searchKey</th>
                    <th>category</th>>
                    <th>taskId</th>
                    <th>taskStatus</th>
                    <th>url</th>
                    
                    <tr v-for="task in taskList">
                        <td>${task.searchKey}</td>
                        <td>${task.category}</td>
                        <td>${task.taskId}</td>
                        <td>${task.status}</td>
                        <td><a target="_blank" :href="'commodityInfo/'+task.category+'/'+task.searchKey" >Info</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        delimiters:["${","}"],
        el:"#search-and-task",
        data:{
            searchKey : '',
            selected : '',
            num : '',
            taskList : [],
            options : [
                {text: 'Baby', value:'Baby'},
                {text: 'Book', value:'Book'},
                {text: 'Electronics', value:'Electronics'},
                {text: 'Fashion', value:'Fashion'},
                {text: 'Food', value:'Food'},
                {text: 'Health&Beauty', value:'Health&Beauty'},
                {text: 'Home', value:'Home'},
                {text: 'Industrial&Scientific', value:'Industrial&Scientific'},
                {text: 'Motor', value:'Motor'},
                {text: 'Pet', value:'Pet'},
                {text: 'Sports', value:'Sports'},
                {text: 'Other', value:'Other'},
            ],
            show : false,
        },
        created: function(){
            this.selected = '';
        },
        methods:{
            startSpider:function(){
                alert('Spider is ready to run!');
                
                let data = Qs.stringify({
                    'searchKey' : this.searchKey,
                    'category' : this.selected,
                    'num' : this.num,
                })
                axios.post(
                    "{%url 'main:getCommodityInfo'%}",
                    data,
                    {headers:{'X-CSRFToken': this.getCookie('csrftoken')}})
                .then((response)=>{
                    console.log(this)
                    console.log(response.data)
                    
                    this.taskList.push(response.data)
                })
                .catch((error)=>{
                    console.log(error);
                })
            },
            getCookie:function(name) {
                let value = '; ' + document.cookie
                let parts = value.split('; ' + name + '=')
                if (parts.length === 2) return parts.pop().split(';').shift()
            },
            getTaskStatus:function(){
                console.log("getTaskStatus");
                console.log(this)
                for (let i = this.taskList.length - 1; i >= 0; i--) {
                    task = this.taskList[i];
                    console.log(task.taskId);
                    data = Qs.stringify({'taskId':task.taskId});
                    axios.post("getTaskStatus/",
                        data,
                        {headers:{'X-CSRFToken': this.getCookie('csrftoken')}})
                    .then((response)=>{
                        this.taskList[i].status = response.data.status;
                    })
                    .catch((error)=>{
                        console.log(error);
                    })
                }
            }
        },
        watch:{
            taskList:function(){
                if (this.taskList.length>=1)
                    show = true;
                }
            }
        
    })

</script>




</html>